{% extends 'core/base.html' %}

{% block content %}
    <div id="add-job-app">
        <h1 class="title">Add job</h1>

        <form v-on:submit="validateForm" method="post" action=".">
            {% csrf_token %}

            {% if form.errors %}
                {% for error in form.errors %}
                    <div class="notification is-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="notification is-danger" v-if="errors.length">
                <p v-for="error in errors">
                    [[ error ]]
                </p>
            </div>

            <div class="field">
                <label>Title</label>

                <div class="control">
                    <input class="input" type="text" name="title" id="id_title" v-model="title">
                </div>
            </div>

            <div class="field">
                <label>Short description</label>

                <div class="control">
                    <textarea class="textarea" name="short_description" id="id_short_description" v-model="short_description"></textarea>
                </div>
            </div>

            <div class="field">
                <label>Long description</label>

                <div class="control">
                    <textarea class="textarea" name="long_description" id="id_long_description"></textarea>
                </div>
            </div>

            <div class="field">
                <label>Company name</label>

                <div class="control">
                    <input class="input" type="text" name="company_name" id="id_company_name" v-model="company_name">
                </div>
            </div>

            <div class="field">
                <label>Company address</label>

                <div class="control">
                    <input class="input" type="text" name="company_address" id="id_company_address">
                </div>
            </div>

            <div class="field">
                <label>Company zipcode</label>

                <div class="control">
                    <input class="input" type="text" name="company_zipcode" id="id_company_zipcode">
                </div>
            </div>

            <div class="field">
                <label>Company place</label>

                <div class="control">
                    <input class="input" type="text" name="company_place" id="id_company_place">
                </div>
            </div>

            <div class="field">
                <label>Company country</label>

                <div class="control">
                    <input class="input" type="text" name="company_country" id="id_company_country">
                </div>
            </div>

            <div class="field">
                <label>Company size</label>

                <div class="control">
                    <div class="select">
                        <select name="company_size" v-model="company_size">
                            <option value="">Choose size</option>
                            <option value="size_1-9">1-9</option>
                            <option value="size_10-49">10-49</option>
                            <option value="size_50-99">50-99</option>
                            <option value="size_100">100+</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-success" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const AddJobApp = {
        data() {
            return {
                title: '',
                company_name: '',
                short_description: '',
                company_size: '',
                errors: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                this.errors = []

                if (this.title === '') {
                    this.errors.push('The title field is missing!')
                }

                if (this.short_description === '') {
                    this.errors.push('The short description field is missing!')
                }

                if (this.company_name === '') {
                    this.errors.push('The company name field is missing!')
                }

                if (this.company_size === '') {
                    this.errors.push('The company size is missing!')
                }

                if (this.errors.length) {
                    e.preventDefault()

                    return false
                } else {
                    return true
                }
            }
        }
    }

    Vue.createApp(AddJobApp).mount('#add-job-app');
</script>
{% endblock %}