{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">Add job</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.errors %}
                <div class="notification is-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="field">
            <label>Title</label>

            <div class="control">
                <input class="input" type="text" name="title" id="id_title">
            </div>
        </div>

        <div class="field">
            <label>Short description</label>

            <div class="control">
                <textarea class="textarea" name="short_description" id="id_short_description"></textarea>
            </div>
        </div>

        <div class="field">
            <label>Long description</label>

            <div class="control">
                <textarea class="textarea" name="long_description" id="id_long_description"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}