{% extends 'core/base.html' %}

{% block content %}
    <div id="search-app">
        <h1 class="title">Search</h1>

        <form @submit.prevent="performSearch()">
            <div class="columns">
                <div class="column is-4">
                    <div class="field">
                        <label>Query</label>

                        <div class="control">
                            <input type="text" name="query" class="input" v-model="query">
                        </div>
                    </div>

                    <div class="field">
                        <label>Company size</label>

                        <div class="control">
                            <div class="select">
                                <select name="company_size" v-model="company_size">
                                    <option value="" selected>All</option>
                                    <option value="size_1-9">1-9</option>
                                    <option value="size_10-49">10-49</option>
                                    <option value="size_50-99">50-99</option>
                                    <option value="size_100">100+</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div v-if="jobs.length">
            <hr>

            <div
                v-for="job in jobs"
                :key="job.id"
                class="notification mt-2"
            >
                <h3 class="is-size-4">[[ job.title ]]</h3>
                <p>[[ job.company_name ]]</p>

                <a :href="job.url">View details</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const SearchApp = {
        data() {
            return {
                query: '',
                company_size: '',
                jobs: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            performSearch() {
                var data = {
                    'query': this.query,
                    'company_size': this.company_size
                }

                fetch('/jobs/api/search/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    return response.json()
                })
                .then((result) => {
                    console.log(result.jobs)
                    this.jobs = result.jobs
                })
                .catch((error) => {
                    console.log('Error', error)
                })
            }
        }
    }

    Vue.createApp(SearchApp).mount('#search-app')
</script>
{% endblock %}