<!DOCTYPE html>

<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title -->
        <title>Coding Jobs</title>

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar is-light">
            <div class="navbar-brand">
                <a href="{% url 'frontpage' %}" class="navbar-item"><strong>CodingJobs</strong></a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a href="{% url 'search' %}" class="navbar-item">Search</a>

                    {% if request.user.is_authenticated %}
                        <a href="{% url 'dashboard' %}" class="navbar-item">Dashboard</a>
                        <a href="{% url 'notifications' %}" class="navbar-item">Notifications ({{ notifications.count }})</a>    
                    {% endif %}

                    <div class="navbar-item">
                        <div class="buttons">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="button is-danger">Log out</a>
                            {% else %}
                                <a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
                                <a href="{% url 'login' %}" class="button is-light">Log in</a>    
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <!-- Main content -->
        <section class="section">
            {% block content %}
            {% endblock %}
        </section>
        <!-- End Main content -->

        <!-- Scripts -->
        <script src="https://unpkg.com/vue@next"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>