{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <h1 class="title">Sign up</h1>

                <form method="post" action=".">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <hr>

                    <div class="field">
                        <label>Account type</label>

                        <div class="control">
                            <div class="select">
                                <select name="account_type">
                                    <option value="jobseeker" selected>Job seeker</option>
                                    <option value="employer">Employer</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}